.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
}

.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}

.pagination__item a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}