.modal {
    position: absolute;
    margin: auto;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 350px;
    background: white;
    border: 3px solid #000;
    border-radius: 5px;
}

.modal h2 {
    text-align: center;
}

.modal__dublicate {
    color: red;
}

.modal label {
    margin-left: 5px;
}

.modal__actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.modal__input {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.modal__input input {
    margin: 5px;
}

.modal__error {
    text-align: center;
}
